
.head{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.embl{
    width: 50px;
    height: 20px;
    background-color: aqua;
}
.registre a{
    background-color: cornflowerblue;
    border-radius: 10px;
}
.head a{
    text-decoration: none;
    color: black;
    padding: 4px;
}

.body{
    margin: 0 25%;
}
.image{
    display: flex;
    justify-content: center;
}
.img{
    background-image: url(img/кактус.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 885px;
    height: 550px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    padding: 50px;
}
.content h1{
    text-align: justify;
    margin: 0 25%;
}
.img1{
    margin: 0 25%;
    width: 400px;
}
.p{
    width: 400px;
}
p{
    text-align: left;
}
.author{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 50px 50px;
}
.content-aut{
    display: flex;

}
.author img{
    width: 50px;
    border-radius: 50px;
}